
@font-face{
    font-family:'Satisfy-Regular' ;
    src:url('Satisfy-Regular.ttf');
}

header{
background-color:#5b7989;
color: white;
border-radius: 10px 10px 0px 0px;

}

nav {
  height: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;

    
}
li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 10px 10px;
  height: 100%;

        
  
}

p{
    float: left;
    text-shadow: 2px 0px #02010a;
    margin: 10px;
    font-family: 'Shadows Into Light Two'
    
}

header a{

    color: white;
    text-decoration: none;
    font-family: 'Shadows Into Light Two';
  
}

#Img1{
   text-align: center;
    
}

#Img1 img{

width: 60%;
}

#Img2 img{
    float: left
}






