@font-face {
    font-family: 'DancingScript';
    src: url('../Fonts/DancingScript.otf');
}



@keyframes slidein {
    from {
        margin-top: 100%;

    }
    to {
        margin-top: -5%;


    }
}

body {
    background-color: #02010a;
    min-width: 300px;
    font-family: 'DancingScript';
    margin-top: auto;

}

header {
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    text-shadow: 2px 0px #02010a;
    animation-duration: 0.5s;
    animation-name: slidein;


}

nav {
    height: 100%;



}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    height: 100%;


}

li {

    margin: 0px 5px;
    padding: 20px 10px;
    height: 100%;
    font-size: 20px;
    float: right;

}

nvar p {
    float: left;

    margin: 20px;

    font-size: 20px
}

header a {

    color: white;
    text-decoration: none;

}



#Img img {
    padding: 3px;
    width: 100%;
    box-shadow: 2px #02010a;
    filter: drop-shadow(0px 0px 2px #02010a);


}

#Imgh2 img {
    flex-basis: 40%;
    width: 100%;
    filter: drop-shadow(0px 0px 2px #02010a);



}

#Imgh2 img:hover {
    transform: rotatez(10deg);
    transition-duration: 1s;
    box-shadow: 2px 0px #82c3a6;
    border: 2px;
    filter: drop-shadow(0px 0px 2px #82c3a6);

}

#Imgh3 img {
    flex-basis: 40%;
    width: 100%;
    filter: drop-shadow(0px 0px 2px #02010a);

}

#Imgh3 img:hover {
    transform: translate(5px, -20px);
    transition-duration: 1s;
    box-shadow: 2px 0px #82c3a6;
    border: 2px;
    filter: drop-shadow(0px 0px 2px #82c3a6);
}

.Imgpaisaje img {


    width: 100%;

}

footer {
    clear: both;
    padding: 2px;
    background: #C6d5c5;
    border-radius: 0px 0px 10px 10px;

}


.contenedor {
    background-color: #82c3a6;
    margin: 0px;
    text-align: center;
    margin: auto;

}

.contenedor1 {
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
    font-family: 'DancingScript';
    flex-wrap: wrap;

}

.contenedorindex {
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #d5c75f;
    border: 1px;
    font-family: 'DancingScript';


}

.contenedor1 > figure {
    width: 24%;



}

.Contenedorfooter {
    display: flex;
    flex-direction: row;


}

.Contacto {
    flex-grow: 0.1;



}



.Terminos {
    flex-grow: 0.1;
}

.RedesSociales {
    flex-grow: 0.1;
}

.Derechos {
    flex-grow: 0.1;
}

.Contenedorfooter strong {
    text-decoration: underline;
    font-size: 20px;

}

#contenido {
    text-align: center;
    width: 900px;
    margin: auto;
    margin-top: 0%;

}

header a:focus {
    color: aquamarine;
}

/*Filtros*/

#Img1 img {
    filter: blur(10px);
}

.contenedor1 figure:nth-child(even) {
    filter: grayscale(100%);

}

#Img3 img {
    filter: sepia(90%);
}




/* adapta la pantalla a resoluciones pequeñas*/

@media (max-width: 900px) {

    nvar {
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    ul {
        margin: auto;
    }


    nvar > p {
        float: none;

        align-items: center;

    }
    .Contenedorfooter {
        display: flex;
        flex-flow: column;
        text-align: center;
    }


    .contenedor1 {
        display: flex;
        flex-flow: column;

    }
    .contenedorindex {
        display: flex;
        flex-flow: column;
    }
    #contenido {
        width: 100%;
    }

    .Imgpaisaje img {
        flex-flow: column;

    }
    .contenedor1 > figure {
        width: inherit;



    }








}
